// box componenet

// used by docs and addons

.box,
article.page {
	background: #fff;
	.box-shadow( 0 1px 2px rgba( 0, 0, 0, 0.1 ) );
}

// used by products and blog articles
aside.box {
	span {
		display: block;
		text-transform: uppercase;
		font-size: 0.875rem;
		font-weight: 500;
	}
}
	


.box {
	padding: 24px;
//	padding: 2%;


	
	h2 {
		margin-bottom: 0;
	//	color: #fff;
	}

	h2 + .post-thumbnail {
		margin-top: 2rem;
	}

	ul:last-child,
	p:last-child,
	h2:last-child {
	//	padding-bottom: 2rem;
	}

	p {
	//	margin-top: 2rem;
	//	color: #fff;
		font-size: 16px;
		z-index: 1;
		position: relative;
	}

	p:last-of-type {
	//	margin-bottom: 0;
	}

	.button {
	//	color: #fff;
	//	border-color: #fff;
	}



	&.support {
		position: relative;
		overflow: hidden;

		svg {
			position: absolute;
			bottom: -9px;
			right: 0;
		//	.opacity(30);
		}
	}

	// &.highlight {
	// 	.box-shadow( 0 5px 0 0px #22acda );
	// }



}


.box .post-thumbnail {
	margin: -24px -24px 24px -24px;
//	margin: -2% -2% 2% -2%;
}

.col.left .post-thumbnail {
//	margin: -1.5rem -1.5rem 0 -1.5rem;
}

.primary-sidebar .box {
	margin-bottom: 2.5rem;
}
  // background: @light-grey;
  // padding: 2rem;
  // border: 1px solid darken( @light-grey, 3% );