

// any overrides for the column responsive should go here

@media all and ( min-width: 600px ) {

  .register .columns-2 .col {
    width: 46%;
  }

}

// product grid
@media only screen and ( min-width: 768px ) {

  .about .columns-main-side .primary-sidebar {
    width: 32%;
    max-width: none;
  }

  .docs-grid,
  .product-grid {
    .gap,
    .col {
      width: 48%;
    }
  }

}

// product grid
@media only screen and ( min-width: 1024px ) {

  .docs-grid,
  .product-grid {
    .gap,
    .col {
      width: 31%;
    }
  }

}