// grid component. Adds margin to all nested .cols and applies flexbox attributes

.grid.columns {
	font-size: 1rem;
}

.grid .post-thumbnail {
	margin: -24px -24px 24px -24px;
}


.grid .col {
	margin-bottom: 2rem;
//	.transition ( position 0.2s linear );
	position: relative;
	top:0;
}

.grid .col:hover {
	.box-shadow( 0 3px 3px 0 rgba( 0, 0, 0, 0.15 ) );
	top: -3px;
//	position: relative;
}

// product grid
// IE9 falls back to using the display-inline-block in our columns.less
.grid .wrapper {
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: flex-start;

	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	 //  align-items: center;
  // justify-content: center;

}

.grid.columns .col {
	//	.transition ( box-shadow 0.2s ease-out );
		.transition ( all 0.2s ease-out );

		display: -ms-flexbox;   // MID: IE 10
		display: -webkit-flex;  // NEW, Chrome 21–28, Safari 6.1+
		display: flex;          // NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+

		-webkit-justify-content: space-between;
		justify-content: space-between;

		// default is row (allows vertical centering)
		-webkit-flex-flow: column;
		flex-flow: column;

		 // -webkit-flex-direction: column;
	  //  flex-direction: column;

	  // align the p tag to the top
			
		// IE 11 only
	  	a.post-thumbnail {
	  		-webkit-flex: 0 0 auto;
	  		flex: 0 0 auto;
	  	}

		p, ul {
	  		-webkit-flex: 1 0 auto;
	  	//	-ms-flex: 1 1 auto;
			flex: 1 0 auto;
			width: 100%;
		}

		h2 {
			margin-bottom: 1rem;
		}

		* {
//			width: 100%;
		}
}

@media only screen and ( min-width: 768px ) {
	.grid .wrapper {
		max-width: 1220px;
	}
}


// .col h2 {
// 	margin-bottom: 1.62rem;
// }

// .col h2 a {
// 	color: #292929;
// }



// .grid .col {
// 	-webkit-box-flex: 1;
// 	-moz-box-flex: 1;
// 	box-flex: 1;

// 	-webkit-box-orient: vertical;
// 	display: -webkit-box;
// }

// .grid .post-thumbnail {
// 	-webkit-box-flex: 1;
// }

// .grid .link {
// 	align-self: flex-end;
// }

 // display: flex;
