// grid component. Adds margin to all nested .cols and applies flexbox attributes


.grid .col {
	margin-bottom: 2rem;
}

.col h2 {
	margin-bottom: 1.62rem;
}

// .col h2 a {
// 	color: #292929;
// }

// product grid
// IE9 falls back to using the display-inline-block in our columns.less
.grid .wrapper {
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: flex-start;

	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	 //  align-items: center;
  // justify-content: center;

}

// .grid .col {
// 	-webkit-box-flex: 1;
// 	-moz-box-flex: 1;
// 	box-flex: 1;

// 	-webkit-box-orient: vertical;
// 	display: -webkit-box;
// }

// .grid .post-thumbnail {
// 	-webkit-box-flex: 1;
// }

// .grid .link {
// 	align-self: flex-end;
// }

 // display: flex;
