// the header component


// the entry header used for headings and subheadings
.page-header {
	padding: 0 0 2rem 0;
	text-align: center;
	

	h1, h2 {
		margin: 0 auto;
		color: #4a7e9a;
	
	}

	h2 {
		max-width: 980px;
		color: #8ec5e2;

		a {
			font-weight: 400;
		}
	}
	
	.button {
		margin-top: 3rem;
	}

	.post-thumbnail {
		display: inline-block;
	}
}

.page.testimonials { 
	
	 .page-header {
	 	padding-bottom: 0;

	 	h2 {
	 		margin-bottom: 3rem;
	 	}
	 }
}

// sub headers
.sub-header {
	text-align: center;

	h2 {
		margin-bottom: 2rem;
	}
}

@media only screen and ( min-width: 1024px ) {
	.page-header {
		padding: 2rem 2rem 4rem 2rem;	
	}

	// reduce padding on checkout page
	.edd-checkout .page-header {
		padding: 2rem;	
	}
}