// styles related to the homepage

.home {



	.input-wrap .edd-input {
	    flex: 1 1 0;
	    vertical-align: top;
	}

	#masthead {
	//	height: 100%;
	}

	> .wrapper {
	//	position: absolute;
	}

	// section.home > div {
	//     display: table-cell;
	//     vertical-align: middle;
	// }
}

.home .page-header {
	padding: 0;
	margin-bottom: 4rem;

	h2 {
		max-width: none;
	}
}




// site stats on homepage
.site-stats {
	font-size: 0;

	.total {
		font-size: 4rem;
		display: block;
		font-weight: 500;
		line-height: 1;
		color: @accent-color;
	}

	li {
		padding: 0;
		display: inline-block;
		vertical-align: top;
	}

	li a {
		display: block;
		font-size: 1rem;
		color: @body-text-color;
		padding: 2rem;
	}

	li a:hover {
		background: @accent-color;
		color: #fff;
	}

	li a:hover span {
		color: #fff;
	}
}

@media only screen and ( min-width: 720px ) {
	.site-stats li {
	//	width: 15%;
	}
}


@media only screen and ( min-width: 640px ) {
	.home .newsletter .wrapper {
		max-width: 520px;
	}

	.home .newsletter .gform_wrapper {
		margin-bottom: 1rem;
	}

	.home .newsletter h1 {
		margin-bottom: 2rem;
	}

	.home .newsletter form {
		display: -ms-flexbox;   // MID: IE 10
		display: -webkit-flex;  // NEW, Chrome 21–28, Safari 6.1+
		display: flex;          // NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+
	}

	.home .newsletter .button,
	.home .newsletter input {
		line-height: 1.5;
		font-size: 1.2rem;
	}

	.home .newsletter input {
		padding: 1rem;
	}

	.home .newsletter .gform_body {
		-webkit-flex: 1; // Safari 6.1+
		-ms-flex: 1; // IE 10
		flex: 1;
		vertical-align: top;
	}

	.home .newsletter .gfield {
		padding: 0;
		margin: 0;
	}

	.home .newsletter .gform_footer {
		width: 35%;
	}

	.home .newsletter .gfield_label {
		display: none;
	}

}














.home {
	h2 {
	//	margin-bottom: 4rem;

	}

	#content section {
	//	padding: 3rem 2rem;
	}
}


// .wrapper.see-features {
// 	text-align: center;
// 	margin-top: 1rem;
// }

// sharing

// section.section.home.share {
// 	padding: 0 2rem;

// 	.sharing {
// 		margin-bottom: 0;
// 	}

// }

// guarantee
// section.section.guarantee {
// 	p {
// 		max-width: 744px;
// 	}
// }

// #home-products {
// 	text-align: center;

// 	ul {
// //		max-width: 500px;
// 	}
// 	li {
// 		display: inline-block;
// 		width: 20%;
// 		padding: 0;
// 	}
// 	a {
// 		display: block;
// 		padding: 2rem 2rem;
// 	}
// }

section.products .wrapper {
	max-width: 1440px;
}



// h1 followed by image
h1 + figure {
	margin-top: 2rem;
}


@media only screen and ( min-width: 1024px ) {
	section.section.products {
		.col {
		//	padding: 2rem;
		}	
	}
}





// featured
// section.section.featured {
	
// 	background: @light-grey;
// 	padding: 4rem 0 0 0;

// 	img {
		
// 	}

// 	h2 {
// 		padding-bottom: 2rem;
// 		margin-bottom: 0;
// 	//	.transition( all 2s ease-in );
// 	}

// 	.flex-viewport {
// 	//	margin-top: -4rem;
// 	}

// 	.wrapper {
// 		max-width: none;
		
// 	//	background: #fff;
// 	}
// }

// #slider-nav {
// 	background: #fff;
// 	font-size: 0;
// }

// section.section.feature-links {
// 	padding: 0 2rem 0 2rem;

// 	.col {
// 		padding: 0 1rem 0 1rem;
// 	}
// }

// .feature-link {
// 	z-index: 9999;
// 	position: relative;
// }

// section.section.features {
// 	text-align: justify;
// 	padding: 0 2rem 0 2rem;
// //	padding-bottom: 0;
// 	position: relative;
// 	z-index: 2;

// 	h3 {
// 		margin-bottom: 1rem;
// 		color: #6A6A6A;
// 		font-size: 1.4rem;
// 		margin-top: 0;
// 		padding-top: 1rem;
// 		font-weight: 500;
// 	//	font-size: 1rem;
// 	//	display: none;
// 	}

// 	h3, p {
// 	//	color: #fff;
// 	}

// 	.wrapper {
// 	//	max-width: 1157px;
// 		position: relative;
// 	}

// 	.col {
// 	//	width: 25%;
// 	//	float: left;
// 		font-weight: 400;
// 		margin-bottom: 0;
// 		position: relative;
// 		padding: 1rem;
		
// 	//	text-align: center;
// 	//	min-height: 22rem;
		
// 		div {
// 			border-top: 5px solid #fff;
// 			cursor: pointer;
// 			.transition ( all 0.1s ease-in );
// 		}

// 		p {
// 			margin-bottom: 1.5rem;
// 		}

	
// 	}

// 	// .col:hover h2:before {
// 	// 	position: absolute;
// 	// 	opacity: 1;
// 	// }

// 	// .col,
// 	// .col:hover {
// 	// 	h2:before {
// 	// 		font-family: "affiliatewp";
// 	// 		content: "\e007";
// 	// 		position: absolute;
// 	// 		top: -4rem;
// 	// 		opacity: 0;
// 	// 		left: 50%;
// 	// 		margin-left: -40px;
// 	// 		font-size: 5rem;
// 	// 		color: @accent-color;
// 	// 		z-index: 2;
// 	// 	}
// 	// }

// 	.col div:hover,
// 	.col div.flex-active {
// 	//	background: @light-grey;
// 	//	background: @accent-color;
// 		border-top: 5px solid @accent-color;

// 		p {
// 		//	color: #fff;
// 		//	color: @accent-color;

// 		}
// 	}

// 	// .col.flex-active h2:before {
// 	// 	font-family: "affiliatewp";
// 	// 	content: "\e007";
// 	// 	top: -4.5rem;
// 	// 	opacity: 1;
// 	// 	left: 50%;
// 	// 	margin-left: -24px;
// 	// 	font-size: 3rem;
// 	// 	.transition ( all 0.2s ease-out );

// 	// }

	
// }

// more features
// section.section.more-features {
// 	text-align: justify;
// 	padding: 1rem 2rem;
// 	border-top: 2px solid @light-grey;
// 	z-index: 2;
// 	position: relative;
// 	background: #fff;
	
// 	.wrapper {
// 		max-width: 1220px;
// 		position: relative;
// 	}

// 	.col {
// 		position: relative;
// 		padding: 1rem;
// 		text-align: left;
// 	}
	
// 	h3 {
// 		color: #6A6A6A;
// 	}

// 	i {
// 		font-size: 3rem;
// 		color: @accent-color;
// 		text-align: center;
// 	}
// }

// used by

// section.section.used-by {
// 	padding: 4rem 2rem 2rem 2rem;

// 	div div {
// 		text-transform: uppercase;
// 		margin-bottom: 1rem;
// 		color: @body-text-color;
// 	}

// 	h2 {
// 		margin-bottom: 3rem;
// 	}

// 	ul {
// 	//	text-align: justify;
// 		margin: 0 auto;

// 		li {
// 			vertical-align: middle;
// 			margin: 0 1rem 2rem 1rem;
// 		}


// 	}
// }

// featured product
section.home.featured-product {
	padding-bottom: 0;

	img {
		display: block;
		margin: 0 auto;
	}
}

#alf {
	background: url( 'images/home-alf.png' ) no-repeat 0 0;
	width: 200px;
	height: 134px;
	background-size: contain;
	 position: absolute;
    right: 10%;
    bottom: 0;
}

section {
	position: relative;
	text-align: center;

	

	// nested sections
	.section {
		padding: 0;
	}

	.wrapper.slim {
		max-width: 620px;
		text-align: left;
		margin-bottom: 2rem;
	}
	

	&.home {
		padding: 4rem 2rem;

		h2 {
		//	color: @body-text-color;
		//	font-weight: 300;
		//	margin-bottom: 3rem;
		}
	}

	h1 {
	//	text-align: center;
	//	margin-bottom: 4rem;
	}

	// h2 {
	// 	font-weight: 400;
	// 	text-align: center;
	// }



	&.alt {
		background: @primary-color;

		h1, p {
			color: #fff;
		}

		p {
			font-weight: 400;
		}
	}

	&.alt2 {
		background: @light-grey;
	}

	&.alt3 {
		background: #fff;
	}

	// p {
	// 	margin: 0 auto 1.62rem auto;
	// }

	figure {
		text-align: center;
	//	margin: 0;
	}

	.wrapper {
	//	text-align: center;
	//	max-width: 758px;
	}
}

// mailing list
.mailing-list {
	margin: 0 auto;
	position: relative;
	text-align: center;

	// h2 {
	// 	font-weight: 500;
	// 	font-size: 1rem;
	// }

	form {
		border: none;
		background: none;
		padding: 0;
	}

	.wrapper {
	//	padding: 2rem;
		margin: 0 auto;
	//	background: #f5f5f5;
		position: relative;
		z-index: 1;
	}
}


#show-how-it-works {
//	height: 0px;
	padding: 4rem;
	display: none;

	&.expanded {	
//		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		#how-it-works {
		//	top: 292px;
		}

	}
}


@media all and ( min-width: 540px ) {

	


	section.section.used-by {
		text-align: center;

		// ul {
		// 	max-width: 1000px;
		// }

		li {
			display: inline-block;

		}
		
	}
}

@media all and ( min-width: 1024px ) {

	// .flexslider {
	// 	img {
	// 		.box-shadow( 0 30px 30px 0px rgba(0,0,0,.2) );
	// 		margin: 0 auto;
	// 	}
	// }

	.home .intro {
		width: 80%;
	}

	section.section.products {
		.col {
//			margin-bottom: 0;
		}
	}

	// #mascot {
	// 	width: 200px;
	// 	height: 158px;
	// 	bottom: -28px;
	// 	z-index: 1;
	// 	right: 0;
	// 	position: absolute;
	// 	background-image: url('images/mascot.png');

	// 	&:hover {
	// 		background-position: 0 -158px;
	// 	}
	// }
}

@media only screen and ( min-width: 500px ) {

	.mailing-list {
		max-width: 490px;
	}

}

@media only screen and ( min-width: 860px ) {


	.mailing-list.shared .icon-thumbs-up {
		left: 100%;
	}
}

// section.testimonials .wrapper,
// #slider-nav .wrapper {
// 	display: -webkit-flex;
// 	-webkit-flex-flow: row wrap;
// 	-webkit-justify-content: space-between;
// 	-webkit-align-content: flex-start;
// }


// #masthead .wrapper span {
// 	color: #FFFFFF;
// 	font-weight: 500;
// 	margin: 0 0.5rem;
// 	text-transform: uppercase;
// 	vertical-align: middle;
// }

#masthead section.products a {
	.transition ( all 0.25s 0.15s ease-in-out );


	.opacity(0);
	-webkit-transform: translateY(40px);
    transform: translateY(40px);



    // & + svg {
    // 	.transition ( all 0.25s 2s ease-in-out );
    // }
}

#masthead section.products a#p2 {
	.transition ( all 0.25s 0.25s ease-in-out );
}

#masthead section.products a#p3 {
	.transition ( all 0.25s 0.35s ease-in-out );
}

// .no-js #masthead .wrapper .button {
// 	.opacity(100);
// 	-webkit-transform: translateY(0);
//     transform: translateY(0);
// }

.loaded {
	#masthead section.products a {
		.opacity(100);
		-webkit-transform: translateY(0);
    	transform: translateY(0);

    	// &:last-child.delay {
    	// 	transition-delay: 0.25s;
    	//     -webkit-transition-delay: 0.25s;
    	// }
	}
}