// The home products component

.home-products {
	text-align: justify;
	padding: 3rem 2rem 2rem;

	.wrapper {
		max-width: 1220px;
	}

	.col {
		margin-bottom: 0;
		text-align: center;
	}

	svg {
		width: 100%;
	}

	a {
		display: block;
		color: #4a7e9a;
		position: relative;
		min-height: 5rem;
	}

	p {
		font-size: 16px;
		max-width: 95%;
		color: #fff;
		visibility: hidden;
		.opacity(0);
		position: absolute;
		left: 0;
		top: 1rem;
		width: 100%;
		height: 100%;
		.transition( all 0.2s 0.2s ease-out );
	}

}

// anchor link
.home-products a {
	span {
		display: block;
	}

	svg {
		.opacity(100);
		position: relative;
		.transition( all 0.2s 0.2s ease-in );
		margin: 0;
	}
}

// hover effect
.home-products a:hover {
	p {
		visibility: visible;
		top: 0;
		.opacity(100);
		.transition( all 0.2s 0.2s ease-in );
	}

	svg {
		.opacity(0);
		.transition( all 0.2s 0.2s ease-out );
	}
}