// learn styling

.tutorial-meta {
	margin-top: 2rem;
}

.difficulty a.tutorial {
	display: block;
}

a.tutorial {
	background: @light-grey;
	font-size: 0.75rem;
	padding: 0.5rem 0.75rem;
	color: #fff;
	vertical-align: middle;
	display: inline-block;

	// by access
	&.everyone {
		background: #82CA9D;
	}

	&.members {
		background: #F7977A;
	}

	// by difficulty
	&.beginner {
//		background: #82CA9D;
		background: #64bcb1;
	}

	&.intermediate {
//		background: #ffd19a;
		background: #316a85;
	}

	&.advanced {
	//	background: #F7977A;
		background: #082661;
	}

	&.series {
		background: #082661;
	}
	&.advanced {
//		display: inline-block;
	//	padding: 0;
	}

	// span.difficulty {
	// 	background: #82CA9D;
	// 	display: inline-block;
	// 	padding: 0.6rem 0.25rem;
	// 	vertical-align: middle;
	// }


}
