#notification-area {



	h4 {
		margin-bottom: 0;
	}

	.wrapper {
		max-width: 1220px;
		margin: 0 auto;
		position: relative;
		text-align: center;
		padding: 1rem 2rem;
	}

	p {
		margin: 0 auto;
		max-width: 1080px;
	}

	#remove-notice {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}

.home #notification-area {
	background: #000;
	color: #fff;

	a, p {
		color: #fff;
	}

	#remove-notice {
		display: none;
	}
}

.home #notification-area .box {
	background: transparent;
}

.home .menu-connect {
	display: none;
}
