// page template specific styles

// checkout, no sidebar template, and category pages will all be slim
.account .content-area,
.edd-checkout .content-area,
.no-sidebar .content-area,
.category .content-area {
	max-width: 720px;
}

.slim.content-area {
	max-width: 720px;
	margin: 0 auto;
}

// when logged out, the register form shows 2 columns. Fields on left and options on right
.register .content-area {
	max-width: 980px;	
} 


.about .content-area {
	max-width: 720px;	
} 

// when logged in, the register form only shows the "upgrade your subsription" fields
.register.logged-in .content-area {
	max-width: 640px;	
} 

.join .testimonials {
	padding: 4rem;
	margin: 0 -2rem 2rem -2rem;
}



// .about .widget .post-thumbnail {
// 	margin: -24px -24px 24px -24px;
// 	display: block;
// }

.about .primary .post-thumbnail {
	margin-bottom: 24px;

}

@media all and ( min-width: 720px ) {
	// about
	// .about .alignright {
	// 	margin: 0 -3rem 3rem 3rem;
	// }
	// .about .grid {
	// 	margin-top: 2rem;
	// }










	.about .primary .post-thumbnail {
	//	float: right;
	//	width: 40%;
	//	padding: 0 0 64px 64px;
	//	margin: 0 0 64px 64px;
	}

	.about .entry-content {
	//	width: 54%;
	}
}