// Post Series Plugin

// list of posts in the series
#series-posts-list {
  list-style-type: none;
  margin-left: 0;
}

#series-posts-list li {
  padding: 0;
}  

#series-posts-list a {
  padding: 0.5rem 0;
  display: block;
  border-bottom: 1px solid rgba(97, 141, 235, 0.09);
}


#series-content {
  font-size: 0.875rem;

}
  

  // Series Navigation
  #series-nav {
  	 margin: 0 0 1rem 0;
  	 overflow: hidden;
  }

    #series-nav a.prev-link {
       float: left;
       width: 50%;
    }

    #series-nav a.next-link {
       float: right;
       text-align: right;
       width: 50%;
    }

  /* Series List */
  #series-list {
    display: none;
  }