// Pricing

a.pricing {
	text-align: center;
	margin-top: 1rem;

	.list {
		margin-bottom: 1rem;
	}

	&:nth-child(2) {
		margin-top: 0;
	} 

	.price {
		font-size: 3rem;
		font-weight: 500;
		line-height: 1;
		color: #072460;

		span {
			font-size: 1rem;
			display: block;
		}
	}
}

sup {
	font-size: 60%;
	font-weight: normal;
}



.free-plan a {
	font-weight: 500;
}

section.pricing svg {
	margin-top: 2rem;
}


.pricing-options {

	h2 {
		font-weight: 500;
		color: #072460;
	}
	
	svg {
		margin: 0 auto;
	}
}

.join .best-value {
	margin-bottom: 2rem;
}