.page.pricing #content {
//	padding-top: 2rem;

	font-size: 0; // remove gap at bottom
//	padding: 2rem 0 0 0;
}

// .pricing .columns {
// 	padding: 4rem;
// }

.pricing .primary {
	max-width: 1316px;
	padding: 0;
}

.pricing .columns-3 {
	text-align: center;

	.wrapper {
		text-align: justify;
	}

	.col {
		margin-bottom: 0;
	}
}

.clause {
	max-width: 900px;
	margin: 0 auto;
	font-size: 1rem;
	text-align: center;
}

section.section.pre-sale-questions {
	padding: 0;
	margin-top: 4rem;

	.wrapper {
		max-width: 1220px;
	}

	h4 {
		font-weight: 500;
	}

	article {
		margin-bottom: 1rem;
	}
}

.pricing-chart {
	text-align: justify;
	height: 100%;
	margin-bottom: 2rem;
	font-weight: 300;

	h2 {
		margin-bottom: 0;
	}

	> li {
		vertical-align: top;
		text-align: center;
		margin-bottom: 2rem;
		font-size: 1rem;
		color: darken( @light-grey, 50% );
		border: 10px solid @light-grey;

		.price {
			font-size: 3rem;
			font-weight: 400;
		}

		a {
			font-size: 1.1rem;
			margin-top: 2rem;
		}

		.highlight {
			font-weight: 500;
		}

		&.developer {
			border: 8px solid @primary-color;			
			z-index: 1;
			position: relative;
			background: #fff;
			
			i {
				font-size: 2rem;
			}

			

			.button {
				margin-top: 2.5rem;
			}

		}

		ul li {
			border-bottom: 1px solid @light-grey;
			padding: 0.5rem 0;
			margin-bottom: 0;
			line-height: 1.5;
		}
	}

	.name {

	}
}


.primary .pricing-chart > li {
	padding: 2rem;
	
}

@media all and ( min-width: 1024px ) {
	.pricing-chart {
		margin-top: 3rem;
	}
	
	// .pricing .primary {
	// 	padding: 0 4rem;
	// }

	.pricing-chart > li {
		width: 33%;
		min-height: 21rem;
		position: relative;
		display: inline-block;
		
		&.developer {
			margin: -2rem -2rem;
			width: 36%;
			min-height: 28rem;

			h2 {
    			font-size: 2.5rem;
			}
		}

	}

	section.section.pre-sale-questions {
		article {
			margin-bottom: 3rem;
		}
	}

	

}