.products {

	article {
	//	background: @light-grey;
		padding: 1.5rem;
//		border: 1px solid @light-grey;
		.box-shadow( 0 0 5px 2px rgba(0, 0, 0, 0.05) );

		h2 {
			font-size: 1.1rem;
			font-weight: 400;
		//	text-transform: uppercase;
			

			a {
				color: #222;
			}
		}

		p {
			font-size: 1rem;
		}

		.post-thumbnail {
			display: block;
			margin: -1.5rem -1.5rem 1.5rem -1.5rem;
		}
	}

	
}

.single-download {
	.product-info p {
		margin-bottom: 0.875rem;
	}
}











// featured image


.support {

	a {
	//	display: block;
	}

	svg {
		margin-right: 0.5rem;
	}

	svg {
		display: inline-block;
		vertical-align: middle;
	}
	
}



.products {
	.columns-3 {
		.wrapper {
			max-width: 1220px;
		}
	}
}

/**
 * Clean up 
 */

.products #content {
//	background: @light-grey;
	
	.box {
	//	background: #fff;

		&.coming-soon {
//			.opacity(60);
		}
	}

	.wrapper {
	//	text-align: center;
	}
}

// blog and single pages
.blog,
.single {

	.col.left {	
		span {
			text-transform: uppercase;
			font-size: 0.875rem;
			font-weight: 500;
		}
		
		.button {
			margin: 1rem 0;
		}
	}

}

.col.right {
	.edd_price_options {
	//	margin-bottom: 2rem;
	}
}

// .single.single-post,
// .single.single-download

// blog posts, add-ons, documentation
.single {

	.col .post-thumbnail {
		margin: 0 0 2rem 0;
	}

	// .col {
	// 	width: 100%;
	// 	max-width: 585px;
	// 	display: block;
	// 	margin: 0 auto;
	// }

	.col.primary {
		margin-bottom: 4rem;
	}
}


