.products {
	article {
	//	background: @light-grey;
		padding: 1rem;

		h2 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1rem;
		}
	}
}





.products {
	.columns-3 {
		.wrapper {
			max-width: 1220px;
		}
	}
}

/**
 * Clean up 
 */

.products #content {
//	background: @light-grey;
	
	.box {
	//	background: #fff;

		&.coming-soon {
//			.opacity(60);
		}
	}

	.wrapper {
	//	text-align: center;
	}
}

// blog and single pages
.blog,
.single {

	.col.left {	
		span {
			text-transform: uppercase;
			font-size: 0.875rem;
			font-weight: 500;
		}
		
		.button {
			margin: 1rem 0;
		}
	}

}

.col.right {
	.edd_price_options {
	//	margin-bottom: 2rem;
	}
}

// .single.single-post,
// .single.single-download

// blog posts, add-ons, documentation
.single {

	.col .post-thumbnail {
		margin: 0 0 2rem 0;
	}

	// .col {
	// 	width: 100%;
	// 	max-width: 585px;
	// 	display: block;
	// 	margin: 0 auto;
	// }

	.col.primary {
		margin-bottom: 4rem;
	}
}


