// styles relating to the main archive-download page and also the single download pages


.product-grid.grid .col {
	margin-bottom: 2.5rem;
}

// .box.more-plugins {
// 	background: @accent-color;
	

// 	h2 a, p {
// 		color: #fff;
// 	}
// }


// product grid
.product-grid .wrapper {
	max-width: 480px;
}



.single-download .primary.col {
	margin-bottom: 2rem;
}

.support {

	a {
	//	display: block;
	}

	svg {
		margin-right: 0.5rem;
	}

	svg {
		display: inline-block;
		vertical-align: middle;
	}
	
}


aside.product-info p {
	margin-bottom: 0.875rem;
}



@media only screen and ( min-width: 768px ) {
	.page-header .purchase {
		display: none;
	}
}

// addon and single download 3 columns
@media only screen and ( min-width: 1440px ) {
	   // hides add on info box
      .product-info.right {
        display: none;
      }
}

